body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  /* border: 3px solid green; */
  height: 100%;
  width: 100%;
  /* justify-content: center; */
}

.counter-box {
  border: 3px solid cornflowerblue;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* width: 120px; */
  /* width: 70%; */
}

.counter {
  border: 3px solid green;
  flex: 1 0 25%;
  text-align: center;
  padding: 15px 0px;
}

.button {
  background-color: floralwhite;
  background-color: slategray;
  padding: 15px 0px;
}

.countdown {
  border: 3px solid red;
  flex: 1 0 25%;
  text-align: center;
  padding: 15px 0px;
}
